

<form method="POST" action="/new">
    <label> name: <input type="text" name="name"></label>
    <label> breed: <input type="text" name="breed"></label>
    <label> age: <input type="text" name="age"></label>
    <button type="submit" value="submit">submit</button>
</form>
